---
export interface Props {
  title?: string;
  description?: string;
  image?: string;
  url?: string;
}

const {
  title = 'RIO PUTRA SURYANA',
  description = '',
  image = '/assets/jumbotron-image.webp',
  url = 'https://r1pu5u.github.io',
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <meta name="google-site-verification" content="dVBImUWgMivd-_4g2fx1pELVC7YwM-2hqvJI0Z0CyWU" />

    <!-- Primary Meta -->
    <meta name="description" content={description} />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={url} />


    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />


    <!-- <link rel="icon" href="/favicon.ico" /> -->
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=JetBrains+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  @import '../styles/global.css';
</style>
